<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.squeezymo.gpsalarm">

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".GpsAlarmApplication">

        <activity android:name=".ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data android:name="DATABASE" android:value="alarms.db" />
        <meta-data android:name="VERSION" android:value="2" />
        <meta-data android:name="QUERY_LOG" android:value="true" />
        <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="com.squeezymo.gpsalarm.model" />

        <meta-data android:name="com.google.android.geo.API_KEY" android:value="@string/google_api_key" />
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />

    </application>

</manifest>